extends layout

block content
  h1 Enroll in a Class
  form(action='/profile/classes/enroll', method='post')
    .entry
      h2 Class Code
      input(type='text', name='code')
    .submit-container
      .entry.submit
        button#submit-btn(type='submit') Go
