extends layout

block content

  .container
      .cover#bg
        video#vid(loop='loop', autoplay='autoplay')
          source(src="images/kanban-board.mp4" type="video/mp4")
      .split.left
        a(href='/dashboard')
          .button.student student
      .split.right
        a(href='/dashboard')
          .button.teacher teacher
      .infographic
        .box
          .logo.asucbg
            image#asucimg(src="images/asuc.png")
          .caption.asuccap ASUC
        .box
          .logo.octo
            image#octoimg(src="images/octo.svg")
          .caption.octocap ASUC Chief Technology Office
        .box
          .logo.cal
            image#calimg(src="images/cal.svg")
          .caption.calcap University of California Berkeley
     .footer
        .subfooter.header
          h1 Hermione
          p Lorem ipsum dolor sit amet, suspendisse mollis commodo fringilla, pretium ullamcorper pretium quis lacus. Vel pellentesque sed ipsum lacus nulla mus, mauris in, tellus ante at quis urna eu id. Tincidunt ante. Ac eget wisi mauris ridiculus, dolor in ut in aenean sit, quam vestibulum montes sed lectus habitant. Lacus cras eu lectus lorem. Pulvinar tincidunt odio pellentesque libero, et sem etiam sodales, vestibulum pellentesque massa.
        .subfooter.mission
          h1 Mission
          p Lorem ipsum dolor sit amet, suspendisse mollis commodo fringilla, pretium ullamcorper pretium quis lacus. Vel pellentesque sed ipsum lacus nulla mus, mauris in, tellus ante at quis urna eu id. Tincidunt ante. Ac eget wisi mauris ridiculus, dolor in ut in aenean sit, quam vestibulum montes sed lectus habitant. Lacus cras eu lectus lorem.
        .subfooter.contact
          h1 Contact
          p Lorem ipsum dolor sit amet, suspendisse mollis commodo fringilla, pretium ullamcorper pretium quis lacus. Vel pellentesque sed ipsum lacus nulla mus, mauris in, tellus ante at quis urna eu id. Tincidunt ante.
     .rights
        p © 2016 Hermione. All rights Reserved.

    script(type='text/javascript', src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
    script(type='text/javascript', src='javascripts/index.js')
