extends layout

block content

  .container
      .cover#bg
        video#vid(loop='loop', autoplay='autoplay')
          source(src="images/kanban-board.mp4" type="video/mp4")
      .split.left
        a(href='/ee16a')
          .button.student student
      .split.right
        .button.teacher teacher
      .infographic
        .box
          .logo.asucbg
            image#asucimg(src="images/asuc.png")
          .caption.asuccap ASUC
        .box
          .logo.octo
            image#octoimg(src="images/octo.svg")
          .caption.octocap ASUC Chief Technology Office
        .box
          .logo.cal
            image#calimg(src="images/cal.svg")
          .caption.calcap University of California Berkeley
     .footer
        .subfooter.header
          img.img-subtitle(src='/images/binoculars.svg')
          h1 Hermione
          p Hermione is a UC Berkeley, ASUC sponsored project designed to streamline the lecture capturing process. Using computer vision and natural language processing, we provide a quick, effective way to record and transcribe lectures.
        .subfooter.mission
          img.img-subtitle(src='/images/open-book.svg')
          h1 Mission
          p Our goal is to provide cheap and efficient ways to record lectures. Due to growing demands for certain classes and limited classroom space, recording lectures allows more students take the classes they are interested in.
        .subfooter.contact
          img.img-subtitle(src='/images/contact.svg')
          h1 Contact
          p If you are interested in learning more about Hermione or are looking to use our service in a class feel free to contact us at hello@hermione.io
     .rights
        p © 2017 Hermione. All rights Reserved.

    script(type='text/javascript', src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
    script(type='text/javascript', src='javascripts/index.js')
