doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700')
    block extrahead
  body
    .navbar
      .hermione
        a(href='/') hermione
      ul.navbar-side
        if role == 'debug'
          a(href="/ee16a")
            li.nav-text classes
        else if !user
          a(href="/login")
            li.nav-text LOGIN
          a(href="/signup")
            li.nav-text SIGNUP
        else
          a(href="/profile")
            li.nav-text PROFILE
          a(href="/logout")
            li.nav-text LOGOUT

    block content
