doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700')
    block extrahead
  body
    .navbar
      .hermione
        a(href='/') hermione
      ul.navbar-side
        if !user
          a(href="/login")
            li login
          a(href="/signup")
            li signup
        else
          a(href="/profile")
            li profile
          a(href="/logout")
            li logout

    block content
