doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700')
    block extrahead
  body
    .navbar
      .hermione
        a(href='/') hermione
      ul.navbar-side
        if role == 'debug'
          a(href="/ee16a")
            li DASHBOARD
        else if !user
          a(href="/login")
            li LOGIN
          a(href="/signup")
            li SIGNUP
        else
          a(href="/profile")
            li PROFILE
          a(href="/logout")
            li LOGOUT

    block content
