extends layout

block extrahead
  link(rel='stylesheet', href='/stylesheets/form.css')

block content
  div(style="padding:20px; text-align: center;")
    .form-container
      .entry
        h1 Add a new Class
      form(action='/profile/classes/new', method='post')
        .entry
          h2 classname
          input(type='text', name='title')
        .entry
          h2 professor(s)
          input(type='text', name='professors')
        .entry
          h2 description
          input(type='textarea', name='description')
        .submit-container
          .entry.submit
            button#submit-btn(type='submit') Go
