h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

#new-card {
    font-size: 80px;
    margin: 0;
    padding: 0;
    position: relative;
    transition: 500ms;
    vertical-align: top;
}

#book {
    position: absolute;
    bottom: -20px;
    right: 0;
}

#url {
    margin-left: 10px;
}

#new-text {
    font-size: 60px;
}

.class-dashboard {
    height: 150px;
    width: 100%;
    overflow-x: scroll;
    padding: 0 25px;
}

.class-dashboard-new:hover {
    background-color: white;
    color: #003262;
}

.class-dashboard-new {
    background-color: white;
    border: 4px solid #003262;
    color: #003262;
    width: 80px;
    height: 80px;
    padding: 10px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin-right: 20px;
    vertical-align: top;
    transition: background-color 500ms ease-out;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.13);
}

.class-dashboard-card {
    background-color: white;
    border: 4px solid #003262;
    color: #003262;
    width: 250px;
    height: 80px;
    padding: 10px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin-right: 20px;
    vertical-align: top;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.13);
}

#active-card {
    background-color: #003262;
    color: white;
}

.other {
    color: white;
    background-color: #003262;
}

.card-title {
    position: float;
    float: left;
}

.class-card-info {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 10%;
}

.class-sub-card {
    width: 80px;
    height: 50px;
    display: inline-block;
    text-align: center;
}

.class-sub-card h3 {
    margin: 0;
    padding: 0;
}

.dashboard {
    width: 100%;
    height: calc(100% - 230px);
    overflow-y: hidden;
}

.video-container {
    height: auto;
    width: 350px;
    display: inline-block;
}

.videolist {
    width: 300px;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    padding-left: 25px;
    overflow: visible;    
}

.video-header {
    padding: 20px 20px;
    padding-bottom: 0;
    font-size: 20px;
    height: auto;
    background-color: #00A598;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.13);
}

.video {
    width: calc(100% - 300px);
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.desc {
    font-size: 14px;
    padding: none;
}

.instructors {
    width: 100%;
    margin: 5px 0;
    padding: 5px 0;
    height: auto;
}

.instructor {
    font-size: 14px;
    width: auto;
}

.instructor p {
    width: auto;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 10px;
    color: black;
    font-family: 'fira sans';
    font-weight: 300;
    background-color: #EEEEEE;
}

.icon {
    position: relative;
    display: inline-block;
    float: right;
}

.video-sublist {
    height: 300px;
    padding-bottom: 20px;
    width: calc(100% + 10px);
    /*background-color: rgba(0,50,0,0.3);*/
    overflow-y: scroll;
    text-align: left;
    position: relative;
    vertical-align: top;
    overflow-x: visible;
}

.new-video-item {
    text-align: center;
    font-size: 36px;
    width: 100%;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.13);
    background-color: #EEEEEE;
}

.new-video-item p {
    color: black;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0 auto;
}

.video-item {
    display: inline-block;
    padding: 10px;
    height: 60px;
    width: calc(100% - 30px);
    margin-top: 20px;
    background-color: #eeeeee;
    text-align: left;
    position: relative;
    z-index: 15;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.13);
}

.video-item-new {
    display: inline-block;
    padding: 10px;
    height: 60px;
    width: 80%;
    margin-top: 20px;
    background-color: white;
    text-align: left;
    transition: background-color 500ms;
}

.title {
    display: inline-block;
    width: auto;
}

.length {
    position: relative;
    float: right;
    margin-top: 5px;
}

.bookmark {
    position: relative;
    bottom: 0;
    font-size: 20px;
}

.card-container {
    width: 680px;
    height: 400px;
    display: inline-block;
    background-color: grey;
    vertical-align: top;
}

.enroll {
    width: 50px;
}

#video-name {
    margin-bottom: 15px;
}

.right-container {
    width: 680px;
    display: inline-block;
    vertical-align: top;
}

#active {
    background-color: #00A598;
    color: white;
}

#active a {
    color: white;
}

.video-timeline {
    height: 40px;
    width: 100%;
    background-color: #EEEEEE;
}

.enroll-bg {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0,0,0,0.25);
    text-align: center;
}

.enroll-module {
    display: none;
    text-align: left;
    padding: 15px;
    display: inline-block;
    background-color: #EEEEEE;
    width: 300px;
    height: 150px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    transition: background-color border 500ms;
}

.enroll {
    width: 98%;
    height: 40px;
    background-color: #EEEEEE;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    font-size: 20px;
}

input {
    font-size: 20px;
    width: calc(100% - 40px);
    height: 30px;
    border: none;
    border-bottom: #BDBDBD 5px solid;
    outline: none;
    transition: 500ms ease-in;
}

input:focus {
    border-bottom: #003262 5px solid;
}

#submit-btn {
    margin-top: 20px;
    background-color: #EEEEEE;
    font-family: 'fira sans';
    color: #BDBDBD;
    border: #BDBDBD 3px solid;
    width: 100px;
    padding: 10px;
    height: auto;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color border 500ms ease-in;
}

.active-button {
    background-color: #003262;
    color: #EEEEEE;
}
